
body
{
margin: 0;
height: 100%;
  background: #808080
  url(https://purepng.com/public/uploads/large/purepng.com-ironmanironmansuperheromarvel-comicscharactermarvel-studiosrobert-downey-jrtony-stark-17015286109813na53.png);
  background-repeat: no-repeat;
  background-position: right 10%;
  background-position: center 17%;
  background-position: bottom 90%;
  background-size: 60%;
  transparent: 25%;
}
